<div class="f2-page-header-bordered">
    <button
        class="f2-button f2-back f2-small"
        (click)="goBack()"
    >
        Back
    </button>
    <div class="button-panel">
        <button
            class="f2-button f2-discard f2-small bordered"
            (click)="openCcpFrame()"
        >
            Contact Control Panel
        </button>
        <button
            class="f2-button f2-discard f2-small bordered"
            (click)="openCcpWindow()"
        >
            Contact Control Panel (New Window)
        </button>
    </div>
</div>
<div class="f2-page-content content">
    <p>Connect Instance Details</p>
    <app-cx-agents-connect-instance-details />
    <app-paginated-table
        [options]="tableOptions"
        (columnClicked)="columnClicked($event)"
    ></app-paginated-table>
    <div
        id="ccpFrame"
        class="ccpFrame"
    ></div>
</div>
