<app-entity-most-requested-services [dataMostRequestedServices]="dataServiceStatistics" />

<div class="f2-card">
    <div class="f2-card-title">
        <app-download-menu
            [formats]="reportFormats"
            (selectedFormat)="downloadReport($event)"
        />
        <span class="f2-title-text">{{ title() }}</span>
    </div>
    <div class="f2-card-content">
        <app-f2-table
            [includeIndex]="true"
            [columnOptions]="columnOptions"
            [data]="tableData()"
        />
    </div>
</div>

<app-entity-services-meet-sla [dataServicesMeetSLA]="dataServiceStatistics" />

<app-entity-services-exceed-sla [dataServicesExceedSLA]="dataServiceStatistics" />
