<div class="f2-content-element chart-completion-container">
    <div class="f2-card-title">
        <app-download-menu
            [formats]="reportFormats"
            (selectedFormat)="downloadReport($event)"
        />
        <span class="f2-title-text">{{ title() }}</span>
    </div>
    <div class="chart-wrapper">
        <app-f2-charts
            #longestCompletionChart
            class="chart-item"
            [data]="longestChartData()"
            color="#4a61a8"
            [dimensions]="dimensions"
            [barHeight]="25"
            (clickToChart)="goToDrillDown($event)"
        />
    </div>
</div>
