.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--f2-theme-primary-color);

    .title {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 12px;
    }
}
