.content {
    min-height: unset;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

@media (min-width: 992px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .wide-item {
        grid-column: span 2;
    }
}
