:host {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.f2-main-circle {
    stroke-width: 5px;
    fill: none;
    stroke: var(--f2-theme-primary-light-color);
}

.f2-active-circle {
    stroke-width: 8px;
    fill: none;
    stroke: var(--f2-accent-line-green-color);
    transition: stroke-dashoffset 0.5s ease-in-out;
}

.f2-spinner-text {
    position: absolute;
    text-align: center;
    color: var(--f2-accent-line-green-color);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
}
