<div class="form-view">
    <img
        class="form-logo"
        src="assets/icons/ce-color-logo-v2-small.png"
        alt="logo"
    />
    <form
        [formGroup]="form"
        class="form"
        (ngSubmit)="resetPassword()"
    >
        <div class="form-title mb16">Forgot Password?</div>
        <div>
            <label class="f2-control-label form-input-label">
                Email address
                <input
                    class="f2-input-field full-width"
                    type="text"
                    formControlName="username"
                    placeholder="info@mail.com"
                />
            </label>
        </div>
        <div class="mt44">
            <button
                class="f2-button full-width"
                type="submit"
                [disabled]="!form.valid"
            >
                Submit
            </button>
        </div>
        <p
            class="text-right accent-link"
            (click)="openLoginPage()"
        >
            Back to Sign In
        </p>
    </form>
</div>
<div class="image-view"></div>
