:host {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;

    @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
    }
}

.form-view {
    margin: 8%;
    max-width: 430px;
    min-width: 230px;
}

.form-logo {
    height: 50px;
    cursor: pointer;
}

.form-title {
    font:
        normal 500 25px/30px Milliard,
        sans-serif;
    color: #308099;
}

.form {
    margin-top: 10%;
    display: grid;
    grid-gap: 8px;
}

.form-input-label {
    font:
        normal 400 14px/16px Milliard,
        sans-serif;
    margin-bottom: 8px;
}

.image-view {
    background-image: url('/assets/imgs/background.png');
    height: 100vh;
    display: none;

    @media (min-width: 768px) {
        flex: 0 0 auto;
        display: block;
    }
}

.accent-link {
    cursor: pointer;
    color: var(--f2-accent-line-light-color);
}
