.content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: end;
    justify-content: space-between;
    gap: 16px;

    > * {
        flex: 1;
    }
}
