:host {
    display: block;
    height: 100%;
}

.sidebar {
    position: fixed;
    width: 300px;
    height: 100%;
    transition: width 0.5s;
    z-index: 2;

    &.collapsed {
        width: 55px !important;
    }
}

.main-content {
    height: 100%;
    overflow-y: auto;
    margin-left: 300px;
    transition: margin-left 0.5s;

    &.expanded {
        margin-left: 55px !important;
    }
}

@media only screen and (max-width: 930px) {
    .sidebar {
        width: 245px !important;
    }
    .main-content {
        margin-left: 55px !important;
    }
}
