:host {
    flex: 1;
    min-width: 400px;
    display: flex;
    flex-direction: column;
}

.chart-completion-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chart-wrapper {
    flex: 1;
    overflow-y: auto;
    max-height: 500px;
    
    &::-webkit-scrollbar {
        width: 6px;
    }
    
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 3px;
    }
    
    &::-webkit-scrollbar-thumb {
        background: #c1c1c1;
        border-radius: 3px;
    }
    
    &::-webkit-scrollbar-thumb:hover {
        background: #a1a1a1;
    }
}

.chart-item {
    width: 100%;
}
