:host {
    position: absolute;
    top: calc(100% + 10px);
}

.popup-container {
    display: block;

    &.hidden {
        display: none;
    }

    .custom-backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1000;
    }

    .popup-content {
        position: relative;
        width: fit-content;
        background-color: var(--f2-theme-secondary-color);
        z-index: 1000;
        padding: 15px;
        border-radius: 5px;
        filter: drop-shadow(0px 0px 10px var(--f2-drop-shadow-color));
    }
}
