.card {
    padding: 5px 30px 0 20px;
    border: 1px solid var(--f2-border-color);
    box-sizing: border-box;
    background: transparent;
    border-radius: 5px;
    margin: 30px;
    filter: drop-shadow(0px 0px 10px var(--f2-drop-shadow-color));
}

.instruction-hints {
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
    font:
        normal 400 12px Milliard,
        sans-serif;
    color: var(--f2-placeholder-color);
}

.button-groups {
    margin: 10px 0;
    display: flex;
    justify-content: end;
}

.f2-title-text {
    font-weight: 700;
}
