:host {
    background-color: white; // TODO: need update
    height: 100%;
    border-right: solid 1px rgba(0, 0, 0, 0.12);
}

.main-menu {
    width: 55px;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: white; // TODO: need update
    z-index: 2;
}

.main-menu__header {
    .logo {
        width: 34px;
        cursor: pointer;
    }
}

.main-menu__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid #f8f8f8;
.nav-menu-list {
        width: 40px;
    }
}

.sub-menu {
    margin-left: 55px;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: margin-left 0.5s;

    &.closed {
        margin-left: -200px;
    }

    .menu-item {
        color: var(--f2-theme-primary-color);

        &.active {
            background-color: #f4f5f7;
            border-radius: 3px;
            border-right: 2px solid var(--f2-theme-primary-color);
        }
    }
}

.sub-menu__header {
    .logo {
        margin-left: -34px;
        cursor: pointer;
    }
}

.sub-menu__title {
    padding-left: 10px;
    font-size: 20px;
    color: var(--f2-theme-primary-color);
}

.sub-menu__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sub-menu__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 32px;
.user-full-name {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.menu-item {
    &.active {
        .menu-item__icon {
            display: none;
        }
        .menu-item__selected-icon {
            display: block;
        }
    }
}

.menu-item__icon {
    display: block;
}
.menu-item__selected-icon {
    display: none;
}

.user-container {
    display: grid;
    align-content: center;
    text-align: center;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: #ed973b;
    color: #ffffff;
    font-size: 11px;
    margin: 7px;
    font-weight: 600;
    cursor: pointer;
}

.close-img {
    position: absolute;
    right: -20px;
    top: 35px;
        z-index: 2;
    cursor: pointer;
}
