<div class="f2-page-content">
    <div class="f2-page-tile-wrapper">
        @for (agent of aiAgentList(); track agent.id) {
            <div
                (click)="onAiAgentClick(agent)"
                class="f2-square-tile f2-clickable"
            >
                <div class="f2-tile-menu">
                    <img
                        src="/assets/icons/menu-icon.svg"
                        alt="options"
                    />
                </div>
                <div class="f2-tile-title">{{ agent.agentName }}</div>
                <div class="f2-tile-text">Agent ID: {{ agent.agentId }}</div>
                <div class="f2-tile-text">Alias ID: {{ agent.agentAliasId }}</div>
                <p class="f2-accent-line">{{ agent.agentStatus }}</p>
            </div>
        }
    </div>
</div>
