<div class="f2-page-header">
    <div class="f2-filter-container">
        <!-- <button class="f2-button">Download</button> -->
        <app-f2-datepicker
            class="f2-datepicker-container"
            (valueChange)="onChangeDateRange($event)"
        />
        <mat-form-field class="f2-select">
            <mat-label>{{ translateService.getValue('filterByEntity') }}</mat-label>
            <mat-select
                [(value)]="filterData.selectAccounts"
                (closed)="confirmFiltersData()"
                required
                multiple
            >
                @for (account of accountList$ | async; track account.accountId) {
                    <mat-option [value]="account.accountId">{{ account.accountName }}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    </div>
    <div class="f2-header-title">
        <span class="f2-title-text">{{ translateService.getValue('entityList') }}</span>
        <img
            class="ml10"
            src="/assets/icons/chart-pie.svg"
            alt="Page Icon"
        />
    </div>
</div>

<div class="f2-page-content entity-list">
    <div class="f2-card">
        <div class="f2-card-title">
            <div class="f2-title-text">{{ translateService.getValue('entityList') }}</div>
        </div>
        <app-f2-table
            [includeIndex]="true"
            [maxDisplayingData]="filterData.pageSize"
            [columnOptions]="columnOptionsReports"
            [data]="dataReports"
            [searchLabel]="searchLabel"
            (inputSearch)="onInputSearch($event)"
            (clickToRow)="goToDetailsEntity($event)"
        />

        <div class="f2-card-footer">
            <mat-paginator
                #paginator
                (page)="onPageEvent($event)"
                [length]="totalItems"
                [pageSize]="filterData.pageSize"
                [hidePageSize]="true"
                [pageIndex]="filterData.page"
                aria-label="Select page"
                class="f2-paginator"
            >
            </mat-paginator>
        </div>
    </div>
</div>
