// Input & Textarea
input.f2-input-field,
textarea.f2-input-field {
    height: 40px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid var(--f2-border-color);
    padding: 0 12px;
    outline: none;
    font:
        normal 400 14px/20px Milliard,
        sans-serif; //default
    color: var(--f2-text-color);

    &.f2-search {
        width: 100%;
        max-width: 360px;
        background: var(--f2-theme-secondary-color) url('/assets/icons/search.svg') 14px 12px no-repeat;
        padding-left: 35px;

        &.f2-with-reload {
            width: calc(100% - 40px);
        }
    }

    &.f2-micro {
        width: 60px;
    }

    &.f2-textarea {
        height: 84px;
        padding: 11px 14px;

        &.f2-expandable {
            height: 40px;
            padding: 11px 12px 7px; // [IM] TODO apply 12px padding for all textareas?
            max-height: 84px;
        }

        &.f2-large {
            height: 144px;
        }
    }

    &.f2-input-with-action {
        width: calc(100% - 50px);
    }

    &::placeholder {
        font:
            normal 400 14px/16px Milliard,
            sans-serif;
        color: var(--f2-placeholder-color);
    }

    &.ng-invalid.ng-touched {
        color: var(--f2-error-color);
        border: 1px solid var(--f2-error-color);
    }

    &:focus {
        border-color: var(--f2-theme-primary-color);
    }
}

@mixin disabled-button {
    color: var(--f2-disabled-button-text-color);
    background-color: var(--f2-disabled-button-color);
    border-color: var(--f2-disabled-button-color);
    cursor: default;
    pointer-events: none;
}

button.f2-button {
    font:
        normal 500 12px/14px Milliard,
        sans-serif;
    letter-spacing: 0.01em;
    text-align: center;
    min-width: 75px;
    height: 40px;
    box-sizing: border-box;
    padding: 1px 12px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: var(--f2-theme-secondary-color);
    background-color: var(--f2-dark-blue-color);
    cursor: pointer;

    &.bordered {
        border: 1px solid var(--f2-theme-primary-color);
    }

    &.f2-page-download-menu::before {
        content: '';
        padding-left: 20px;
        background-image: url('/assets/icons/select-arrow.svg');
        background-position: left;
        background-repeat: no-repeat;
        filter: invert(1);
    }

    &.f2-cancel {
        color: var(--f2-dark-blue-color);
        background-color: var(--f2-theme-secondary-color);
        border: 1px solid var(--f2-dark-blue-color);
    }

    &.f2-navigation-button {
        min-width: 40px;
        font-weight: 400;
        font-size: 20px;
    }

    &.f2-small {
        height: 32px;
    }

    &.f2-discard {
        color: var(--f2-theme-primary-color);
        background-color: var(--f2-theme-secondary-color);
    }

    &.f2-submit {
        color: var(--f2-theme-secondary-color);
        background-color: var(--f2-theme-primary-color);
    }

    &.f2-save {
        background: url(/assets/icons/save.svg) 8px center no-repeat;
        background-size: 16px;
        padding-left: 30px;
    }

    &.f2-edit {
        background: url(/assets/icons/edit.svg) 8px center no-repeat;
        background-size: 16px;
        padding-left: 30px;
    }

    &.f2-back {
        color: var(--f2-text-color);
        font-size: 14px;
        background: url(/assets/icons/back-arrow.svg) 0 center no-repeat;
        background-size: 8px;
        padding-left: 16px;
        text-align: left;
    }

    &.f2-remove {
        background: url(/assets/delete-icon.svg) 8px 9px no-repeat;
        background-size: 16px;
        padding-left: 30px;
    }

    &.f2-reply {
        background: var(--f2-theme-primary-color) url(/assets/icons/reply.svg) 8px 9px no-repeat;
        border-color: var(--f2-theme-primary-color);
        background-size: 16px;
        padding-left: 30px;
    }

    &.f2-import {
        background: var(--f2-theme-primary-light-color) url(/assets/icons/import-icon.svg) 8px 7px no-repeat;
        border-color: var(--f2-theme-primary-light-color);
        background-size: 16px;
        padding-left: 30px;
    }

    &.f2-filter {
        background: url(/assets/icons/filter-icon.svg) center center no-repeat;
        background-color: var(--f2-accent-line-color);
        border: none;
        min-width: 40px;
    }

    &.f2-language {
        background: var(--f2-theme-primary-light-color) url(/assets/icons/globeIconforLanguage.svg) 8px center no-repeat;
        border-color: var(--f2-theme-primary-light-color);
        background-size: 16px;
        padding-left: 30px;
    }

    &.f2-range {
        background: var(--f2-theme-primary-light-color) url(/assets/icons/calendar-blue.svg) 8px center no-repeat;
        border-color: var(--f2-theme-primary-light-color);
        background-size: 16px;
        padding-left: 30px;
    }

    &:disabled {
        @include disabled-button;
    }

    &:active {
        opacity: 0.8;
    }
}

mat-form-field.f2-datepicker,
mat-form-field.f2-select {
    &.f2-no-border {
        background: transparent;

        .mat-form-field-outline .mat-form-field-outline-start,
        .mat-form-field-outline .mat-form-field-outline-end,
        .mat-form-field-outline .mat-form-field-outline-gap {
            border: none;
        }
    }

    .mat-mdc-text-field-wrapper {
        height: 42px;
        border-radius: 5px;
        border: 2px solid var(--f2-border-color);

        .mat-mdc-form-field-flex {
            height: 38px;
        }

        .mdc-line-ripple,
        .mdc-line-ripple::after,
        .mdc-line-ripple::before {
            border: none !important;
        }

        .mdc-icon-button::before {
            background-color: inherit;
        }

        .mat-mdc-button-persistent-ripple::before {
            background-color: inherit;
        }
    }
}

mat-form-field.f2-datepicker {
    .mat-mdc-text-field-wrapper {
        .mat-mdc-form-field-flex {
            .mat-mdc-form-field-infix {
                padding: 0;
                min-height: 38px;
                display: flex;
                align-items: center;
            }
        }
    }
}

mat-form-field.f2-select {
    .mat-mdc-form-field-focus-overlay {
        height: 42px;
    }

    .mat-mdc-text-field-wrapper {
        .mat-mdc-form-field-flex {
            height: 42px;

            .mat-mdc-form-field-infix {
                padding-top: 16px;

                .mdc-floating-label {
                    top: 21px;
                }
            }
        }

        .mat-mdc-select-arrow-wrapper {
            background: url('/assets/icons/select-arrow.svg') right no-repeat;
            width: 15px;

            .mat-mdc-select-arrow {
                display: none !important;
            }
        }
    }
}

.f2-page-header {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    gap: 10px;
    position: relative;

    margin: 30px;
    margin-bottom: 0;

    .f2-filter-container {
        display: flex;
        flex-flow: row wrap;
        gap: 10px;

        .f2-datepicker-container,
        .f2-select {
            flex-grow: 0;
            width: 300px;
        }
    }

    .f2-header-title {
        margin-left: auto;
    }

    .f2-page-icon {
        position: relative;
        top: 15%;
    }
}

.f2-page-header-bordered {
    background-color: var(--f2-theme-secondary-color);
    border: 1px solid var(--f2-border-color);
    margin: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px 25px;
    border-radius: 5px;
    flex-wrap: wrap;
    gap: 10px;
}

// Page Wrapper
.f2-page-content {
    border: 1px solid var(--f2-border-color);
    box-sizing: border-box;
    background: transparent;
    border-radius: 5px;
    margin: 30px;
    filter: drop-shadow(0px 0px 10px var(--f2-drop-shadow-color));
    padding: 25px;
    min-width: fit-content;
    grid-template-columns: 100%;
    display: grid;
    gap: 10px;

    &.f2-no-border {
        border: none;
        padding: 0;
    }

    .f2-page-title {
        font:
            normal 500 14px/16px Milliard,
            sans-serif;
        color: var(--f2-text-color);
        margin-bottom: 16px;
        position: relative;
        flex-wrap: wrap;
        gap: 10px;

        &.f2-with-select {
            margin-top: -12px;
            margin-bottom: 4px;
        }

        span.f2-colored {
            font:
                normal 700 14px/16px Milliard,
                sans-serif;
            color: var(--f2-theme-primary-color);
        }

        span.f2-inline-subtitle {
            margin-left: 8px;
        }

        p.f2-subtitle {
            font:
                normal 500 12px/14px Milliard,
                sans-serif;
        }

        p.f2-accent-line {
            text-decoration: underline;
            display: inline-block;
            float: right;
        }

        > button.f2-button {
            position: absolute;
            right: 0;
            bottom: -8px;
        }
    }

    .f2-page-text {
        font:
            normal 500 12px/14px Milliard,
            sans-serif;
        color: var(--f2-card-content-color);
        margin-bottom: 16px;

        span.f2-value {
            color: var(--f2-card-content-value-color);
        }
    }

    .f2-page-tile-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .f2-page-card-wrapper {
        display: flex;
        flex-wrap: wrap;
        grid-gap: 10px;
        gap: 10px;
        //justify-content: space-between;
    }
}

@media only screen and (max-width: 930px) {
    .f2-page-content {
        margin: 0;
        border: none;
    }
}

.f2-card {
    height: fit-content;
    display: grid;
    grid-template-columns: 100%;
    gap: 20px;

    background-color: var(--f2-theme-secondary-color);
    border-radius: 5px;
    border: 1px solid var(--f2-border-color);
    filter: drop-shadow(0px 0px 10px var(--f2-drop-shadow-color));
    padding: 25px;

    &.f2-card-content,
    .f2-card-content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 25px;

        .f2-content-element {
            flex: 1;
        }
    }

    .f2-card-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .f2-card-footer {
        display: flex;
        flex-flow: row nowrap;
        justify-content: end;
        gap: 10px;
    }
}

.f2-title-text {
    color: var(--f2-text-title-color);
    font-weight: 900;
    font-size: 1.2rem;
}

.mat-mdc-paginator.f2-paginator {
    background: transparent;
    font-family: Milliard, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    color: var(--f2-paginator-text-color);

    //TODO: [AS] Maybe it didn't need
    // .mat-mdc-tooltip-trigger {
    //     @extend .f2-button;
    //     @extend .f2-navigation-button;
    //     margin: 0 5px;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;

    //     &.mat-mdc-button-disabled {
    //         @include disabled-button;
    //     }
    // }

    .mat-mdc-paginator-container {
        min-height: 30px;
        padding: 0;

        .mat-mdc-paginator-range-label {
            margin-right: 14px;
        }

        .mat-mdc-icon-button {
            color: var(--f2-theme-secondary-color);
            background-color: var(--f2-theme-primary-color);
            width: 30px;
            height: 30px;
            border-radius: 2px;
            line-height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;

            .mat-mdc-paginator-icon {
                fill: var(--f2-theme-secondary-color);
            }

            &.mat-mdc-paginator-navigation-next {
                margin-left: 8px;
            }

            &.mat-mdc-button-disabled {
                color: var(--f2-disabled-button-text-color);
                background-color: var(--f2-disabled-button-color);

                .mat-mdc-paginator-icon {
                    fill: var(--f2-disabled-button-text-color);
                }
            }
        }
    }
}

label.f2-input-label {
    font:
        normal 700 12px/17px Milliard,
        sans-serif; // [IM] TODO change to 500?
    letter-spacing: 0.01em;
    margin: 0 0 8px 0;
    text-align: left;
    color: var(--f2-text-color);

    &.required:after {
        content: ' *';
        color: var(--f2-error-color);
    }
}

.f2-input-error-text {
    font:
        normal 400 12px/17px Milliard,
        sans-serif;
    letter-spacing: 0.01em;
    margin: 8px 0 0 0;
    text-align: left;
    color: var(--f2-error-color);
    height: 1.5em; // reserve space for error messages
}

.f2-square-tile {
    background: var(--f2-theme-secondary-color);
    border-radius: 5px;
    width: 244px;
    height: 236px;
    padding: 20px;
    position: relative;

    &.f2-clickable {
        cursor: pointer;
    }

    &.f2-main-tile {
        background: var(--f2-theme-primary-color);
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &.f2-disabled {
            background: var(--f2-disabled-background-color);
            cursor: auto;
        }

        .f2-tile-title {
            color: var(--f2-theme-secondary-color);
            margin-top: 12px;
        }
    }

    .f2-tile-menu {
        position: absolute;
        right: 20px;
        cursor: pointer;
    }

    .f2-tile-title {
        font:
            normal 500 16px/21px Milliard,
            sans-serif;
        letter-spacing: 0.005em;
        color: var(--f2-text-color);
        margin-top: 45px;
    }

    .f2-tile-text {
        font:
            normal 400 12px/18px Milliard,
            sans-serif;
        color: var(--f2-text-color);
        margin-top: 15px;
    }

    p.f2-accent-line {
        position: absolute;
        bottom: 50px;
        text-decoration: underline;
    }

    .f2-tile-img-container {
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--f2-theme-primary-light-color);
        border-radius: 50%;
    }
}

// To overwrite cursor as pointer for clickable objects
.f2-clickable {
    cursor: pointer;
}
