@font-face {
    font-display: swap;
    font-family: 'Milliard';
    font-style: normal;
    font-weight: 100;
    // src: url('/assets/fonts/Rene Bieder  Milliard Hairline.woff');
    src: url('/assets/fonts/Rene Bieder  Milliard Thin.woff');
}

@font-face {
    font-display: swap;
    font-family: 'Milliard';
    font-style: normal;
    font-weight: 200;
    src: url('/assets/fonts/Rene Bieder  Milliard ExtraLight.woff');
}

@font-face {
    font-display: swap;
    font-family: 'Milliard';
    font-style: normal;
    font-weight: 300;
    src: url('/assets/fonts/Rene Bieder  Milliard Light.woff');
}

@font-face {
    font-display: swap;
    font-family: 'Milliard';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/Rene Bieder  Milliard Book.woff');
}

@font-face {
    font-display: swap;
    font-family: 'Milliard';
    font-style: normal;
    font-weight: 500;
    src: url('/assets/fonts/Rene Bieder  Milliard Medium.woff');
}

@font-face {
    font-display: swap;
    font-family: 'Milliard';
    font-style: normal;
    font-weight: 600;
    src: url('/assets/fonts/Rene Bieder  Milliard SemiBold.woff');
}

@font-face {
    font-display: swap;
    font-family: 'Milliard';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/Rene Bieder  Milliard Bold.woff');
}

@font-face {
    font-display: swap;
    font-family: 'Milliard';
    font-style: normal;
    font-weight: 800;
    src: url('/assets/fonts/Rene Bieder  Milliard ExtraBold.woff');
}

@font-face {
    font-display: swap;
    font-family: 'Milliard';
    font-style: normal;
    font-weight: 900;
    src: url('/assets/fonts/Rene Bieder  Milliard Heavy.woff');
    // src: url('/assets/fonts/Rene Bieder  Milliard Black.woff');
}
