// top margins
.mt0 {
    margin-top: 0;
}
.mt5 {
    margin-top: 5px;
}
.mt8 {
    margin-top: 8px;
}
.mt16 {
    margin-top: 16px;
}
.mt22 {
    margin-top: 22px;
}
.mt24 {
    margin-top: 24px;
}
.mt30 {
    margin-top: 30px;
}
.mt44 {
    margin-top: 44px;
}

// bottom margins
.mb0 {
    margin-bottom: 0;
}
.mb5 {
    margin-bottom: 5px;
}
.mb8 {
    margin-bottom: 8px;
}
.mb16 {
    margin-bottom: 16px;
}
.mb22 {
    margin-bottom: 22px;
}
.mb30 {
    margin-bottom: 30px;
}

// left margins
.ml8 {
    margin-left: 8px;
}
.ml10 {
    margin-left: 10px;
}
.ml30 {
    margin-left: 30px;
}

// right margins
.mr8 {
    margin-right: 8px;
}
.mr30 {
    margin-right: 30px;
}

.mr1rem {
    margin-right: 1rem;
}
