<div class="f2-card f2-card-content">
    <app-fasted-completion-services-chart [fastedServices]="dataServiceStatistics" />
    <app-longest-completion-services-chart [longestServices]="dataServiceStatistics" />
</div>

<app-services-statistics [dataServiceStatistics]="dataServiceStatistics" />

<app-most-requested-services [dataMostRequestedServices]="dataServiceStatistics" />

<div class="f2-card f2-card-content top-services-container">
    @for (item of listTopServicesByStatus; track $index) {
        <app-top-services-by-status
            [topServicesByStatus]="dataServiceStatistics"
            [title]="item.title"
            [status]="item.status"
            [requestsLabel]="item.requestsLabel"
        />
    }
</div>
