:host {
    display: grid;
    gap: inherit;
}

.f2-indicator-comparison-text {
    text-align: right;
    font-size: 12px;
    font-weight: 100;
}

.f2-circle-indicators {
    display: flex;
    flex-wrap: wrap;
    flex: 2 1;
    gap: 10px;
    justify-content: space-around;

    .f2-indicator-container {
        display: grid;
        grid-template-columns: 155px 80px;
        gap: 10px;

        .f2-indicator-labels {
            align-content: center;
            text-align: right;
            padding: 0 10px;
        }

        .f2-indicator-name {
            color: var(--f2-text-color);
            align-self: center;
            word-wrap: break-word;
        }

        .f2-indicator-progress-circle {
            height: 80px;
            width: 80px;
        }

        .f2-indicator-comparison-text {
            grid-column: 1 / span 2;
        }
    }
}

.f2-overall-speed-indicator {
    flex: 0 1 350px;
    min-width: 300px;
    display: grid;
    gap: 10px;
    grid-template-columns: auto 100px;

    .f2-indicator-container {
        display: grid;
        gap: 10px;
        align-items: end;
        height: 60px;

        .f2-rate-label {
            display: flex;
            justify-content: space-between;
        }
    }

    .f2-logo-container {
        position: relative;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: var(--f2-theme-primary-light-color);

        .f2-logo {
            position: absolute;
            height: 70%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.indicators-services {
    justify-content: right;
}

.indicators-header {
    text-align: right;

    .title-statistics {
        font-size: 0.9rem;
        display: inline-flex;
        gap: 5px;
    }
}

.performance-level {
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
}

.indicator-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;

    .rates-card {
        min-height: 155px;
        flex: 1;
    }

    .total-card {
        height: 155px;
        min-width: 160px;
        flex: 0;
        display: grid;
        gap: 10px;
        text-align: right;

        .f2-total {
            font-size: 40px;
            font-weight: 700;
            color: var(--f2-text-color);
        }
    }
}
